.header{
    width: 100%;
    margin-top: 0px;
    font-size: 20px;
    box-shadow: 5px 5px 5px grey;
}
.heading_div{
    background-color: white;
    float: none;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    font-size: 25px;
    font-weight:lighter;
    color: black;
}
.heading_div2{
    font-size: 20px;
}
.object, .accuracy{
    font-size: 25px;
    box-shadow: 5px 5px 5px grey;
}
.footer_div{
    width: 100%;
    bottom: 0;
    font-size: 25px;
    color: white;
    position: fixed;
    text-align: center;
}
canvas{
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 250px;
}